{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="jumbotron text-center">
    <h1>Rally Interview</h1>
  </div>

  <hr class="my-1">

<!-- START FORM -->
    <form action="/home" method="POST" enctype="multipart/form-data" novalidate>
      <!-- START PROFILE -->
      <h1 class= "h3 mb-3 front-weight-normal">Profile</h1>
      <div class="row g-3">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Name" name= 1>
        </div>
        </div>

        <br> Are you Graduated?</br>
        <div class="col-md-2">
        <select class="form-select" aria-label="grad" name=5>
        <option value=0> Yes </option>
        <option value=1> No </option>
        </select>
        </div>

        <div class="col-sm-2">
          <label for="dob" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" placeholder="dob" name=2>
        </div>

<!-- Checkbox questions should have name = to their question option ID and maybe submit bool-->
    <br> Best Day for Meeting </br>
    <div class="row g-3">
          <div class="col-auto">
        <div class="form-check form-check-inline" >
          <input class="form-check-input" type="checkbox" name=3 value=1>
          <label class="form-check-label" for=3 >Monday</label>
        </div>
        </div>
        <div class="col-auto">
      <div class="form-check form-check-inline" >
        <input class="form-check-input" type="checkbox" name=6 value=1>
        <label class="form-check-label" for=6 >Tuesday</label>
      </div>
      </div>
        <div class="col-auto">
      <div class="form-check form-check-inline" >
        <input class="form-check-input" type="checkbox" name=7 value=1>
        <label class="form-check-label" for=7 >Wednesday</label>
      </div>
      </div>
      <div class="col-auto">
    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" name=9 value=1>
      <label class="form-check-label" for=9>Thursday</label>
    </div>
    </div>
    <div class="col-auto">
  <div class="form-check form-check-inline" >
    <input class="form-check-input" type="checkbox" name=10 value=1>
    <label class="form-check-label" for=10 >Friday</label>
  </div>
  </div>
  <div class="col-auto">
<div class="form-check form-check-inline" >
  <input class="form-check-input" type="checkbox" name=11 value=1>
  <label class="form-check-label" for=11>Saturday</label>
</div>
</div>
<div class="col-auto">
<div class="form-check form-check-inline" >
<input class="form-check-input" type="checkbox" name=12 value=1>
<label class="form-check-label" for=12>Sunday</label>
</div>
</div>
  </div>

  <!-- END USER ENGAGEMENT -->
        <hr class="my-4">
        <div class="col-auto">
          <button type="submit" class="btn btn-secondary mb-3">Submit</button>
        </div>
    </form>
      <!-- END FORM -->
</div>
{% endblock %}
